body {
    background-color: aliceblue;
    margin: 0 auto;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
    
}

.container, header, .inputs {
    display: flex;
    flex-direction: column;
}
.inputs {
    margin-bottom: 50px;
}
.dropdown{
    position:relative;
}
.container {
    justify-self: center;
    border: 30px solid rgb(227, 165, 227,0.75);
}
header {
    align-content: center;
}

.input-field {
    display: none;
    position:absolute;
}

.input-field-hidden {
    display: none;
    position: absolute;
}

.input-field-display {
    display: block;
    position: absolute;
}

.btn_delete {
    align-self:right;
}

.status-true {
    display:none;
}
.status-false{
    display: inline;
}

.rank1 {
    margin-left: auto;
}
.rank2 {
    margin-left: 5%;
}
.rank3 {
    margin-left: 10%;
}